<body>
<main>
  <app-header [title]="'About'"></app-header>
  <div>
    <h4>Yifan Dai</h4>
    <p>
      Email: dai.yifa@husky.neu.edu / yifandai2017@gmail.com CCIS ID: yifandai
    </p>
    <h4>Mingze Sun</h4>
    <p>
      Email: sun.ming@husky.neu.edu CCIS ID: swimming
    </p>
    <h4>Da Sheng</h4>
    <p>
    Email: sheng.d@husky.neu.edu CCIS ID: shengd
    </p>
    <h4>Chenhui Deng</h4>
    <p>
    Email: deng.ch@husky.neu.edu CCIS ID: dengch
    </p>
  </div>
</main>
<app-footer></app-footer>
</body>
