<app-header [title]="'admin-dashboard'"></app-header>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Find for?</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card white darken-3">
    <div class="card-content black-text">
      <p>Admin: Yifan Dai</p>
      <p>Last login: 2018/04/17 22:23:45</p>
    </div>
  </div>

  <div class="row">

    <div class="col s4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">User activity</span>
          <p>Total active user: 1000</p>
          <p>Total operation: 500</p>
          <p>Total visiting: 400</p>
        </div>
        <div class="card-action">
          <a href="#">More Statistics</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Upload & download</span>
          <p>Total upload: 10</p>
          <p>Total download: 12</p>
          <p>Total population</p>
        </div>
        <div class="card-action">
          <a href="#">More Statistics</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Irregular activity</span>
          <p>Total Irregular activities in 24 hours: 10</p>
          <p>Irregualr activites in 72 hours: 32</p>
          <p>Detected user: 12</p>
        </div>
        <div class="card-action">
          <a href="#">More Statistics</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card white darken-1">
    <div class="card-content black-text">
      <span class="card-title">User information</span>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Latest Login In</th>
          <th>Total Upload</th>
          <th>Space Usage</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td><a href = '#'>Yifan</a></td>
          <td>2018/04/14</td>
          <td>2018/04/14</td>
          <div class="progress">
            <div class="determinate" style="width: 70%"></div>
          </div>
        </tr>
        <tr>
          <td><a href = '#'>Da</a></td>
          <td>2018/04/14</td>
          <td>2018/04/14</td>
          <div class="progress">
            <div class="determinate" style="width: 30%"></div>
          </div>
        </tr>
        <tr>
          <td><a href = '#'>Swimming</a></td>
          <td>2018/04/14</td>
          <td>2018/04/14</td>
          <div class="progress">
            <div class="determinate" style="width: 90%"></div>
          </div>
        </tr>
        <tr>
          <td><a href = '#'>Hugh</a></td>
          <td>2018/04/14</td>
          <td>2018/04/14</td>
          <div class="progress">
            <div class="determinate" style="width: 50%"></div>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
<app-footer></app-footer>
