<app-header [title]="'admin-main'"></app-header>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Find for?</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card white darken-3">
    <div class="card-content black-text">
      <p>Admin: {{user.username}}</p>
      <p>Last login: {{user.dateLastLogin}}</p>
      <p>Total login count: {{user.loginCount}}</p>
    </div>
  </div>

  <div class="row">

    <div class="col s4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">User activity</span>
          <p>Total active user: {{usercount}}</p>
          <p>Total operation: {{operationcount}}</p>
        </div>
        <div class="card-action">
          <a href="#">More Statistics</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Upload & download</span>
          <p>Total upload: {{uploadcount}}</p>
          <p>Total download: {{downloadcount}}</p>
        </div>
        <div class="card-action">
          <a href="#">More Statistics</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Irregular activity</span>
          <p>Total Irregular activities in 24 hours: 3</p>
          <p>Irregualr activites in 72 hours: 7</p>
          <p>Detected user: 5</p>
        </div>
        <div class="card-action">
          <a href="#">More Statistics</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userlist" class="container-fluid myBody">
    <div *ngFor="let user of userlist">
    </div>
  </div>


  <div class="card white darken-1">
    <div class="card-content black-text">
      <span class="card-title">User information</span>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Latest Login In</th>
          <th>Total Upload</th>
          <th>Space Usage</th>
        </tr>
        </thead>

        <tbody *ngIf="userlist">
            <tr *ngFor="let user of userlist">
              <td><a href = '#'>{{user.username}}</a></td>
              <td>{{user.dateLastLogin}}}</td>
              <td>{{user.upload}}</td>
              <td><div class="progress">
                <div class="determinate" style="width: 70%"></div>
              </div></td>
            </tr>
        </tbody>

      </table>
    </div>
  </div>


</div>
<app-footer></app-footer>
