<body>
<main>
  <app-header [title]="'Uploader'"></app-header>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <div class="container" id="title">
            <h2>Upload Image</h2>
            <p>
              Upload your image in just one click
            </p>

            <label class="btn btn-default">
              <input type="file" (change)="selectFile($event)">
            </label>
            <button class="btn btn-success modal-trigger" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
<app-footer></app-footer>
</body>
