<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support
          and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li>
            <a class="white-text" routerLink="/login">Login</a>
          </li>
          <li>
            <a class="white-text" routerLink="/about">About</a>
          </li>
          <li>
            <a class="white-text" routerLink="/support">Support</a>
          </li>
          <li>
            <a class="white-text" routerLink="/tutorial">Tutorial</a>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect Us</h5>
        <ul>
          <li>
            <a class="white-text" href="https://www.linkedin.com/in/yifandai/">Dai Yifan</a>
          </li>
          <li>
            <a class="white-text" href="https://www.linkedin.com/in/da-sheng-a7bb8b84/">Da Sheng</a>
          </li>
          <li>
            <a class="white-text" href="https://www.linkedin.com/in/mingze-sun-1b7855149/">Minze Sun</a>
          </li>
          <li>
            <a class="white-text" href="https://www.linkedin.com/in/ch-deng/">Chenhui Deng</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="brown-text text-lighten-3" href="https://github.ccs.neu.edu/yifandai/TeamForWeb">PowerImage Group </a>
    </div>
  </div>
</footer>
