<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mini Pinterest</title>

</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrappe container">
      <a id="logo-container" href="#" class="brand-logo">MiniPinterest</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Login</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="#">Login</a>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center teal-text text-lighten-2">Mini Pinterest</h1>
        <div class="row center">
          <h5 class="header col s12 light">Optimize your photos by powerful GAN!</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="../../../assets/images/background1.jpg" alt="Unsplashed background img 1">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Speeds up</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default optimization and style.
              You don't have to be a photo expert!
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">group</i>
            </h2>
            <h5 class="center">Easy to share</h5>

            <p class="light">We links all common social networks for you. Just a single click after the process, you are able to
              post the photo everywhere!
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">Configurable</h5>

            <p class="light">All the functions and styles are configurable! Do whatever you want if you are an expert.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Optimize your photos from now on!</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="../../../assets/images/background2.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Feel free to contact us on WeChat!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">The photos have never been so perfect.</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="../../../assets/images/background3.jpg" alt="Unsplashed background img 3">
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support
            and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by
        <a class="brown-text text-lighten-3" href="http://materializecss.com">Mini Pinterest Group </a>
      </div>
    </div>
  </footer>




</body>

</html>
