<body>
<main>
  <app-header [title]="'menu'"></app-header>

  <div class="row">
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/vendors/images/LOGO.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/editor">Image Editor</a>
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/vendors/images/LOGO.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/user">Uploader</a>
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/vendors/images/LOGO.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>


    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/vendors/images/LOGO.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

</main>
<app-footer></app-footer>
</body>
