<body>
<main>
<app-header [title]="'Main'"></app-header>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <div class="container-fluid">
          <div *ngIf="errorFlag" class="alert alert-danger">
            {{errorMsg}}
          </div>
          <div class="valign-wrapper">
            <h5>Register</h5>
          </div>
          <form (ngSubmit)="register()" #f="ngForm">
            <input placeholder="username"
                   name="username"
                   type="text"
                   class="form-control"
                   [(ngModel)]="username" required #name="ngModel"/>
            <span class="help-block" *ngIf="name.touched && name.invalid">
              Please enter username!
            </span>
            <input placeholder="password"
                   name="password"
                   type="password"
                   class="form-control"
                   [(ngModel)]="password" required #pass="ngModel"/>
            <span class="help-block" *ngIf="pass.touched && pass.invalid">
              Please enter password!
            </span>
            <input placeholder="verify password"
                   name="verify"
                   type="password"
                   class="form-control"
                   [(ngModel)]="verify" required #veri="ngModel">
            <span class="help-block" *ngIf="veri.touched && veri.invalid">
            </span>
            <button type="submit"
                    class="waves-effect waves-light btn"
                    [disabled]="f.invalid">Register
              <i class="material-icons right">send</i>
            </button>
            <button type="button"
                    routerLink="/login"
                    class="waves-effect waves-light btn">Cancel
              <i class="material-icons right">cancel</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<app-footer></app-footer>
</body>
